html {
  background-color: #f2f2f2;
  color: #b2b2b2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bellefair';
}

.title-page.docs-section h4, p {
  font-family: 'Playfair Display';
}

.title-page.docs-section {
  padding-top: 40vh;
}

.title-page.docs-section h1,
.title-page.docs-section h4 {
  text-align: center;
}

.title-page.docs-section h4 {
  font-size: 1.5em;
  letter-spacing: .1em;
  color: #525252;
}

.horizontal-line {
  width: 100%;
}

.title-page.docs-section hr {
  margin-top: 32vh;
  width: 60%;
}

.page-number {
  text-align: center;
  font-family: 'Bellefair';
}
/*
 <footer class="page-footer">
    <span class="horizontal-line"></span>
    <span class="page-number">1</span>
    <span class="horizontal-line"></span>
  </footer>
*/
